@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');
 body{
     font-family: "Arimo", "Arial", sans-serif;
     display: flex;
     justify-content: center;
     background: #f2f2f2;
}
 *, *:after, *:before {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     text-decoration: none;
}
 .mt-1{
     margin-top: 1.5em;
}
.mb-1{
    margin-bottom: 1em;
}
 .pt-1{
     padding-top: 1em;
}
 .pb-1{
     padding-bottom: 0.5em;
}
 .pb-2{
     padding-bottom: 1em;
}
 header{
     display: flex;
     flex-wrap: wrap;
     height: 11em;
     width: 100%;
     background: linear-gradient(to right, #e9492a, #e72357);
}
 header div{
     display: flex;
}
 .end{
     height: 6.5em;
     display: flex;
     background: #fc4c02;
     justify-content:center;
     width: 100%;
}
 .end img{
     height: 3.8em;
     align-self: center;
}
 .vetor{
     position: absolute;
}
 .logo{
     position: absolute;
     width: 14.5em;
     margin: 3em;
     z-index: 1001;
}
 .circle{
     margin-top: 1.5em;
     width: 8em;
}
 .woman{
     width: 16em;
     margin-left: 55%;
     margin-top: 4em;
}
 .arrow{
     margin-left: 23em;
     margin-top: 2em;
}
 .quadratic{
     margin-left: 18em;
     margin-top: 9em;
     width: 2.8em;
}
 .triangle{
     margin-left: 10em;
     margin-top: -2em;
     width: 2em;
}
 .round{
     margin-left: 5.5em;
     margin-top: 7em;
     width: 6em;
}
 .menu-icons{
     width: 70%;
}
 .text-right{
     color: white;
     display: flex;
     flex-direction: column;
     width: 30%;
     padding-right: 3em;
     padding-top: 2.5em;
     text-align: right;
}
 .text-right h1{
     font-size: 1.2em;
     margin-bottom: 1em;
     font-weight: lighter;
}
 .text-right p{
     font-size: 0.7em;
}
 .news {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
}
 .link-main {
     flex-basis: 100%;
}
 .link-sub {
     flex-basis: 48%;
}
 main{
     width: 750px;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
     background: white;
}
 footer{
     background: #f2f2f2;
     width: 100%;
     text-align: center;
     color: #6e6c6c;
}
 footer a{
     color: #6e6c6c;
     text-decoration: underline;
}
 .news {
     position: relative;
     width: 90%;
     margin: auto;
     margin-top: 2em;
     z-index: 1000;
     text-decoration: none;
}
 .notice{
     width: 100%;
}
 .notice-img{
     width: 100%;
}
 .notice a{
     text-decoration: none;
     color: black;
}
 .notice .info{
     color: gray;
}
 .notice .about{
     color: rgb(175, 170, 170);
     font-style: italic;
}
 .notice a h1{
     font-weight:600;
     font-size: 1.55em;
}
 .link-sub a h1{
     font-size: 1.3em;
}
 .bar {
     padding: 2px;
     width: 60%;
}
 .gradient-1{
     width: 48%;
     background-image: linear-gradient(to right, #e62259, #6b5ba3);
}
 .gradient-2{
     background-image: linear-gradient(to right, #75c5cf, #675fa6);
}
 .gradient-3{
     background-image: linear-gradient(to right, #75c7ce, #38b389);
}
 @media screen and (max-width: 750px){
    /* Ajustes de Responsividade */
     header{
         height: auto;
    }
     .menu-icons{
         width: 30%;
    }
     .text-right{
         width: 70%;
    }
     .logo{
         width: 11em;
    }
     .woman{
         width: 16em;
         margin-left: 33%;
         margin-top: 2.5em;
         position: absolute;
    }
     .triangle{
         margin-left: 60%;
    }
     .arrow{
         margin-left: 48%;
         margin-top: 1em;
    }
     .quadratic{
         margin-left: 34%;
         margin-top: 7.5em;
    }
     .round{
         display: none;
    }
     .text-right p {
         padding-bottom: 1em;
    }
}
 @media screen and (max-width: 450px){
     .logo {
         width: 8em;
         margin: 1em;
    }
     .woman{
         margin-left: 5%;
         width: 12em;
         margin-top: 4.2em;
    }
     .quadratic{
         margin-left: 50%;
         width: 2em;
         margin-top:8em;
    }
     .end img{
         height: 2em;
    }
     .link-sub {
        /*força a cada item flex a ficar 100%, fazendo com que a colunação desapareça*/
         flex-basis: 100%;
    }
}
 @media screen and (max-width: 280px){
     .text-right{
         padding:0 ;
         margin-top: 2em;
    }
     .woman{
         margin-left: 0;
         width: 8em;
         margin-top: 5.5em;
    }
}
 .vetor,.woman,.logo, header, .text-right{
    /*animação pra quando testarem a responsividade :) */
     transition: 1s;
}
